# Node
**/dist
**/node_modules
**/.svelte-kit
.browserlistrc
.editorconfig
.eslintignore
.eslintrc.json
.prettierignore
.prettierrc
.stylelintrc
.tailwind.config.js
.stylelintrc

# Project
README.md
.github

# Git
**/git
.gitignore