#!/usr/bin/env bash
set -e

function pass() {
    mise exec "pass" -- pass "$@"
}

export PASSWORD_STORE_DIR="${PWD}/.password-store"

MINIO_ENDPOINT=$(pass show s3/endpoint)
export MINIO_ENDPOINT
MINIO_PORT=$(pass show s3/port)
export MINIO_PORT
MINIO_USE_SSL=$(pass show s3/use_ssl)
export MINIO_USE_SSL
MINIO_ACCESS_KEY=$(pass show s3/access_key)
export MINIO_ACCESS_KEY
MINIO_SECRET_KEY=$(pass show s3/secret_key)
export MINIO_SECRET_KEY
MINIO_REGION=$(pass show s3/region)
export MINIO_REGION
MINIO_BUCKET_NAME=$(pass show s3/bucket_name)
export MINIO_BUCKET_NAME
