#!/usr/bin/env bash
set -e

function pass() {
    mise exec "pass" -- pass "$@"
}

export PASSWORD_STORE_DIR="${PWD}/.password-store"

PERSONAL_WEBSITE_MINIO_ENDPOINT=$(pass show s3/endpoint)
export PERSONAL_WEBSITE_MINIO_ENDPOINT
PERSONAL_WEBSITE_MINIO_PORT=$(pass show s3/port)
export PERSONAL_WEBSITE_MINIO_PORT
PERSONAL_WEBSITE_MINIO_USE_SSL=$(pass show s3/use_ssl)
export PERSONAL_WEBSITE_MINIO_USE_SSL
PERSONAL_WEBSITE_MINIO_ACCESS_KEY=$(pass show s3/access_key)
export PERSONAL_WEBSITE_MINIO_ACCESS_KEY
PERSONAL_WEBSITE_MINIO_SECRET_KEY=$(pass show s3/secret_key)
export PERSONAL_WEBSITE_MINIO_SECRET_KEY
PERSONAL_WEBSITE_MINIO_REGION=$(pass show s3/region)
export PERSONAL_WEBSITE_MINIO_REGION
PERSONAL_WEBSITE_MINIO_BUCKET_NAME=$(pass show s3/bucket_name)
export PERSONAL_WEBSITE_MINIO_BUCKET_NAME
