{
  "processors": [
    "stylelint-processor-styled-components"
  ],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-standard",
    "stylelint-config-styled-components"
  ],
  "rules": {
    "function-name-case": "lower",
    "selector-pseudo-class-case": "lower",
    "selector-pseudo-element-case": "lower",
    "selector-type-case": "lower",
    "no-descending-specificity": null
  },
  "ignoreFiles": [
    "node_modules/**",
    "public/**",
    "build/**"
  ]
}
