#footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #f5f5f5;

    > .links {
        display: flex;
        flex-flow: row nowrap;
        > a {
            display: block;
            margin: 5px;
            width: 35px;
            height: 35px;
            > img {
                width: 35px;
                height: 35px;
            }
        }
    }

    > .credit {
        > p {
            margin: 5px;
            padding: 0;
            &.copyright {
                font-size: 1rem;
                > img {
                    width: 0.8rem!important;
                    height: 0.8rem!important;
                }
            }
            &.author {
                font-size: 1rem;
                > img {
                    height: 1rem;
                    width: 1rem;
                }
            }
        }
    }
}