@keyframes escapeKey {
    0% {
        @include transform(none);
        top: 0px;
    }
    100%{
        @include transform(rotate(0.5turn));
        top: 20px;
    }
}

#profile {
    width: 100%;
    height: 100vh;
    background-color: #03A9F4;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    > img {
        width: 20vw;
        height: 20vw;
        min-width: 200px;
        min-height: 200px;
        border-radius: 100%;
        // -webkit-clip-path: polygon(30% 0, 70% 0, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0 70%, 0 30%);
        // clip-path: polygon(30% 0, 70% 0, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0 70%, 0 30%);
    }

    > p {
        margin-top: 50px;
        padding: 0;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 1.3rem;

        > span {
            cursor: default;
        }

        > span:hover {
            @include animation(escapeKey 1.5s ease-in-out);
        }
    }
}