@import 'tailwindcss';
@plugin "@tailwindcss/typography";

* {
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  background: #bdbdbd;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #757575;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #fcfbfb;
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
}

@layer base {
  a {
    @apply underline;
    @apply decoration-2;
    @apply underline-offset-2;
    @apply text-gray-900;
    &:hover,
    &:visited {
      @apply text-gray-500;
    }
  }
}
